<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="CrossfitApp.styles.css" />
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveAuto"/>
</head>

<body class="h-full">
    <Routes @rendermode="InteractiveAuto"/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
